@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

*{
    font-family: 'Montserrat';
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior:smooth;
}

.principal{
    background: linear-gradient(rgba(0, 0, 0,.5), rgba(0,0,0,.5)), url("../img/dev.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.principal header{
    background-color:rgba(0,0,0,.8);
    position: fixed;
    top: 0%;
    z-index: 100;
    width: 100%;
}

.contenidoHeader{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.contenidoHeader h1{
    text-align: center;
    color: rgb(160, 183, 245);

}

.contenidoHeader nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.contenidoHeader nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    margin: 0 12px ;
    font-weight:500;
}

.contenidoHeader nav ul :hover{
    color: rgb(255, 142, 221);
}

.iconosRedes a {
    text-decoration: none;
    display: inline-block;
    color: whitesmoke;
    margin-left: 10px;
    
}

.iconosRedes a :hover{
    color: rgb(160, 183, 245);
}

.presentacion{
    color: whitesmoke;
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.presentacion h2{
    text-align: center;
    font-size: 45px;
    margin-bottom: 25px;
}

.presentacion h2 span{
    font-size: 25px;
    color: rgb(160, 183, 245);
}

.presentacion p{
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}



.button button{
    border: none;
    background-color: rgba(31, 79, 211, 0);
    margin: 30px;
}

.button button a{
    color: rgb(110, 144, 240);
    text-decoration: none;
    font-weight: 800;
    text-align: center;
    padding: 10px 30px;
    border-color: rgb(160, 183, 245);
    border-radius: 50px;
    border-style: solid;
}

.button :hover{
    background-color: rgb(110, 144, 240);
    color: rgb(206, 203, 203);    
}

/* Sobre Mi */

#sobreMi{
    background-color: rgb(39, 37, 37);
    display: flex;
    padding: 100px 80px;
    color: white;
}

#sobreMi .imgPersonal{
    max-width: 400px;
    margin: 0px 80px;
}

#sobreMi .imgPersonal img{
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.521);
}

.descripcionSobreMi .sobreMi{
    color: white;
    text-decoration: underline;
    text-decoration-color: rgba(160, 183, 245, 0.466);
    text-decoration-thickness: 3px;
    margin: 15px 0px;

}

.descripcionSobreMi h2{
    font-size: 34px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.descripcionSobreMi h2 span{
    color: rgb(160, 183, 245);
}

.descripcionSobreMi h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.descripcionSobreMi P{
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 12px;
    color: grey;
}

.descripcionSobreMi a{
    text-decoration: none;
    display: inline-block;
    color: white;
    border-radius: 20px;
    border: 2px solid rgb(160, 183, 245);
    padding: 8px;
    margin-top: 20px;
    font-weight: 500;
}

.descripcionSobreMi a:hover{
    background-color: rgb(160, 183, 245);
    color: white;
}

/* SERVICIOS */

#servicios{
    display: flex;
    justify-content: center;
    padding: 100px;
    background-color: black;
}

#servicios .card{
    margin: 20px;
}

.card-body a{
    text-decoration: none;
    display: inline-block;
    color: black;
    border-radius: 20px;
    border: 2px solid rgb(160, 183, 245);
    padding: 8px;
    font-weight: 500;
}

.card-body a:hover{
    background-color: rgb(160, 183, 245);
    color: white;
}